#about {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    justify-content: space-around;

    #about-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    h2 {
        padding: 20px 20px 5px 20px;
        font-size: 40px;
        text-align: center;
    }

    #few {
        text-align: center;
        padding: 0px 0px 10px 0px;
        opacity: 30%;
    }

    #about-title {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    #about-coding {
        .anim {
            #code-leftbottom {
                animation: code .5s infinite linear alternate;
            }

            #app-righttop {
                animation: code 1s infinite linear alternate;
            }
        }
    }

    .card {
        background: rgb(255, 255, 255);
        color: black;
        border-radius: 1rem;
        overflow: hidden;
        max-width: 347px;

        h4 {
            padding: 15px 0px 0px 0px;
            text-align: center;
            font-size: 25px;
        }

        p {
            padding: 20px;
        }
    }
}

@keyframes code {
    from {
        opacity: .2;
    }

    to {
        opacity: 1;
    }
}