footer {
    height: 150px;
    background: $gray;
    margin-top: 0px;
    width: 100%;
    padding: 30px 30px 0px 30px;
    margin-top: 50px;

    .footer-wrapper {
        display: flex;

        .footer-column {
            margin: 0px 20px 0px 0px;

            h3 {
                font-size: 1.5rem;
                color: $white;
            }

            a {
                margin: 1px 0px 1px 3px;
                color: white;
            }
        }
    }



    hr {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    h1 {
        position: relative;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
    }
}