#projects {
    min-height: 90vh;
    width: 100%;

    h1 {
        text-align: center;
    }

    .card {
        min-height: 450px;
        width: 300px;
        background: white;
        color: $black;
        border-radius: 2rem;
        box-shadow: 4px 10px 13px 1px rgba(37, 37, 37, 0.171);
        padding: 20px 20px 0px 20px;
        margin: 20px;
        overflow: hidden;
        position: relative;
        transition: .2s all ease-in-out;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        h2 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.5rem;

        }

        &:hover {
            box-shadow: 4px 10px 16px 5px rgba(37, 37, 37, 0.171);
        }
    }

    .unDraw {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: -10px;
        z-index: 1;
    }
}